{% extends "layout_home.html" %}
{% block title %}Home {% endblock %}

{% block main %}
   <div class="slider">
  <div class="single-image-banner"></div>    </div>
  <div class="container inner-bubble">
      <div class="row-fluid">
        <div class="span12 relative">

        <div class="bubble head-bubble " style="z-index:90 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ">
          <h4 class="left">Default Header Bubble Text</h4>
                </div>
          <div class="bubble-triangle"></div>
        </div>
      </div>
    </div>
        <div class="bubble-stripes"></div>
        <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="breadcrumb-container">
            <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li><span class="divider"> / </span><li class="active">Platform</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
    
      <!-- FEATURES
      ================================================== -->
       <div class="container ">
    <div class="row-fluid">
            <div class="span12">
        <p><strong>Maxwell Global Trading Company Ltd.</strong></p>
<p>&nbsp;</p>
<p>Cornwall Building B3<br />
Newhall Street, Birmingham, West Midlands,UK<br />
Post code B3 3RJ</p>
<p>Email: support@maxwellglobaltrading.com</p>
      </div>
            
          </div>
      </div>             
  </div>

  <div class="container inner-bubble">
    <div class="row-fluid">
      <div class="span12">
      
        <div class="footer-bubble">
          <div class="bubble ">
          
              <h4 class="left">Footer Bubble Text</h4>
                      
          </div>
          <div class="bubble-triangle"></div>
        </div>
      </div>
    </div>
  </div>
    
  <!-- BEGIN SUB-FOOTER
  ================================================== -->
    <div class="sub-footer">
      <div class="container">
        <div class="row-fluid">
                <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
              
        </div>
      </div>  
    </div>
{% endblock %}