{% extends "layout_home.html" %}
{% block title %}Home {% endblock %}

{% block main %}
   <div class="slider">
   <div class="single-image-banner"></div>    </div>
   <div class="container inner-bubble">
      <div class="row-fluid">
        <div class="span12 relative">

        <div class="bubble head-bubble " style="z-index:90 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ">
          <h4 class="left">Default Header Bubble Text</h4>
                </div>
          <div class="bubble-triangle"></div>
        </div>
      </div>
    </div>
        <div class="bubble-stripes"></div>


    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="breadcrumb-container">
            <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li><span class="divider"> / </span><li class="active">Foreign exchange</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
        <div class="container " style="margin-top: 50px;">
    <div class="row-fluid">
            <div class="span12">
        <p>Foreign Exchange</p>
<p style="text-align: justify;">Currency exchange rate differences from country to another country&#8217;s currency opens opportunities for investment margin trading, with the support of information and accurate analysis so that everyone can follow the development of foreign currency exchange rates and can take advantage of price fluctuations for profit. Given the level of liquidity and accelerating the movement of high prices, foreign exchange has also become the most popular alternative because the ROI (Return On Investment or investment rate) and the profit to be gained could exceed the average trade in general. Due to the rapid movement, then the foreign exchange market are also at high risk.</p>
<p>There are five options of world currencies to trade against the currencies of US Dollar:</p>
<ul style="text-align: justify;">
<li class="arrow">BRITISH POUND STERLING</li>
<li class="arrow">AUSTRALIAN DOLLAR</li>
<li class="arrow">JAPANESE YEN</li>
<li class="arrow">SWISS FRANC</li>
<li class="arrow">EUROPEAN EURO</li>
</ul>
<h5 style="text-align: justify;">
Transactions advantages:</h5>
<ul style="text-align: justify;">
<li class="check">Profit opportunities in both directions, the transaction can be done in advance to buy or sell.</li>
<li class="check">Trading system can be done anytime and anywhere as long as 24 hours, in accordance with the wishes of the customer.</li>
<li class="check">As an instrument of protection from currency fluctuations not stabilized for exporters and importers.</li>
<li class="check">Are not taxed on profits.</li>
<li class="check">Initial capital or margin required to trade relatively small compared to the actual transaction value.</li>
<li class="check">Security is assured because the funds deposited into the bank account designated by Segregate Account Exchange Authority.</li>
<li class="check">Risks can be minimized by risk management.</li>
</ul>
<h5 style="text-align: justify;">
Our advantages:</h5>
<ul>
<li class="check" style="text-align: justify;">Latitude Transactions<br />
Our staff is ready to serve transactions 24 hours a day, 5 days a week.</li>
<li class="check" style="text-align: justify;">Trading facilities<br />
Transactions can be done through Online Trading or via telephone.</li>
<li class="check" style="text-align: justify;">Research<br />
Supported by the research division are experts in market analysis and price movements, as well as advanced information technology tools such as Reuters 3000 Xtra, Bloomberg, CNN, CNBC. Our research team will conduct fundamental and technical analysis then summarizes issues &#8211; important issues and recommend it to you in the daily bulletin.</li>
<li class="check" style="text-align: justify;">Risk Management<br />
Trading Consultant we will help you take steps &#8211; appropriate measures to limit losses and protect profits.</li>
<li class="check" style="text-align: justify;">Liquidity Fund<br />
You can attract investment funds whenever you want on each bank working day without limitation, maturity.</li>
<li class="check" style="text-align: justify;">Report<br />
We always provide progress reports per transaction per customer funds when needed.</li>
<li class="check" style="text-align: justify;">Secret<br />
Investment and your personal data is guaranteed confidentiality and security.</li>
</ul>
      </div>
            
          </div>
      </div>  
      <div class="container inner-bubble">
    <div class="row-fluid">
      <div class="span12">
      
        <div class="footer-bubble">
          <div class="bubble ">
          
              <h4 class="left">Footer Bubble Text</h4>
                      
          </div>
          <div class="bubble-triangle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
      <div class="container">
        <div class="row-fluid">
                <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
              
        </div>
      </div>  
    </div>
{% endblock %}