{% extends "layout_home.html" %}
{% block title %}Home {% endblock %}

{% block main %}
 <div class="slider">
            <!-- START REVOLUTION SLIDER 4.3.5 fullwidth mode -->
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:375px;">
               <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:375px;height:375;">
                  <ul>
                     <!-- SLIDE  -->
                     <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/home/uploads/2015/07/slide_bg.jpg"  alt="slide_bg"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption medium_text tp-fade tp-resizeme"
                           data-x="52"
                           data-y="145" 
                           data-speed="300"
                           data-start="500"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Happy Mid Autumn Festival
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption black tp-fade tp-resizeme"
                           data-x="63"
                           data-y="139" 
                           data-speed="300"
                           data-start="800"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption medium_thin_grey tp-fade tp-resizeme"
                           data-x="49"
                           data-y="175" 
                           data-speed="300"
                           data-start="1400"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-fade"
                           data-x="126"
                           data-y="0" 
                           data-speed="300"
                           data-start="2300"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 5;"><img src="/static/home/uploads/2015/07/Mid-Autumn-Festival_Web-Banner_MaxwellGT.png" alt="">
                        </div>
                     </li>
                     <!-- SLIDE  -->
                     <li data-transition="random" data-slotamount="7" data-masterspeed="300" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/home/uploads/2015/07/slide_bg.jpg"  alt="slide_bg"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption medium_text tp-fade tp-resizeme"
                           data-x="52"
                           data-y="145" 
                           data-speed="300"
                           data-start="500"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Maxwell Global Trading 
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption black tp-fade tp-resizeme"
                           data-x="63"
                           data-y="139" 
                           data-speed="300"
                           data-start="800"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption medium_thin_grey tp-fade tp-resizeme"
                           data-x="49"
                           data-y="175" 
                           data-speed="300"
                           data-start="1400"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-fade"
                           data-x="300"
                           data-y="-21" 
                           data-speed="300"
                           data-start="1100"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 5;"><img src="/static/home/uploads/2015/07/Uk-Forex.png" alt="">
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption medium_light_black tp-fade tp-resizeme"
                           data-x="55"
                           data-y="172" 
                           data-speed="300"
                           data-start="1700"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-endspeed="300"
                           style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">We Are The best forex broker
                        </div>
                     </li>
                  </ul>
                  <div class="tp-bannertimer"></div>
               </div>
            </div>
            <script type="text/javascript">
               var tpj=jQuery;            
               tpj.noConflict();          
               var revapi1;
               
               tpj(document).ready(function() {
                           
               if(tpj('#rev_slider_1_1').revolution == undefined)
                  revslider_showDoubleJqueryError('#rev_slider_1_1');
               else
                  revapi1 = tpj('#rev_slider_1_1').show().revolution(
                  {
                     dottedOverlay:"none",
                     delay:9000,
                     startwidth:960,
                     startheight:375,
                     hideThumbs:10,
                     
                     thumbWidth:100,
                     thumbHeight:50,
                     thumbAmount:2,
                     
                     navigationType:"bullet",
                     navigationArrows:"solo",
                     navigationStyle:"round",
                     
                     touchenabled:"on",
                     onHoverStop:"on",
                     
                     swipe_velocity: 0.7,
                     swipe_min_touches: 1,
                     swipe_max_touches: 1,
                     drag_block_vertical: false,
                                       
                     keyboardNavigation:"on",
                     
                     navigationHAlign:"left",
                     navigationVAlign:"top",
                     navigationHOffset:0,
                     navigationVOffset:20,
               
                     soloArrowLeftHalign:"left",
                     soloArrowLeftValign:"center",
                     soloArrowLeftHOffset:20,
                     soloArrowLeftVOffset:0,
               
                     soloArrowRightHalign:"right",
                     soloArrowRightValign:"center",
                     soloArrowRightHOffset:20,
                     soloArrowRightVOffset:0,
                           
                     shadow:0,
                     fullWidth:"on",
                     fullScreen:"off",
               
                     spinner:"spinner0",
                     
                     stopLoop:"off",
                     stopAfterLoops:-1,
                     stopAtSlide:-1,
               
                     
                     shuffle:"off",
                     
                     autoHeight:"off",                
                     forceFullWidth:"off",                  
                                       
                                       
                                       
                     hideThumbsOnMobile:"off",
                     hideNavDelayOnMobile:1500,                hideBulletsOnMobile:"off",
                     hideArrowsOnMobile:"off",
                     hideThumbsUnderResolution:0,
                     
                     hideSliderAtLimit:0,
                     hideCaptionAtLimit:0,
                     hideAllCaptionAtLilmit:0,
                     startWithSlide:0,
                     videoJsPath:"https://www.maxwellglobaltrading.com//static/home/plugins/revslider/rs-plugin/videojs/",
                     fullScreenOffsetContainer: "" 
                  });
               
               });   //ready
               
            </script>
            <!-- END REVOLUTION SLIDER -->    
         </div>

<div class="container home-bubble">
            <div class="row-fluid">
               <div class="span12 relative">
                  <div class="bubble head-bubble " style="z-index:90 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ">
                     <h4 class="left">Default Header Bubble Text</h4>
                  </div>
                  <div class="bubble-triangle"></div>
               </div>
            </div>
         </div>
         <div class="bubble-stripes"></div>
<div class="content">
            <!-- FEATURES
               ================================================== -->
            <div class="container with-breadcrumb">
               <div class="row-fluid">
                  <div class="span12">
                     <div class="container" style="margin-top: 42px;">
                        <div class="row">
                           <div class="span3">
                              <div class="features drop-shadow">
                                 <div class="features-circle"><a href="http://maxwellglobaltrading.com/?page_id=653" target="_blank"><img src="/static/home/uploads/2015/09/icon_form32.png" alt="" /></a></div>
                                 <h4><strong>Register an Account</strong></h4>
                                 <p>To be a candidate trader is obliged to register as a customer and he does qualify for registration electronically via this website.</p>
                                 <p>&nbsp;</p>
                                 <div class="features-read-more"><a class="btn btn-small btn-prime" href="http://maxwellglobaltrading.com/?page_id=653" target="_blank">REGISTER FORM</a></div>
                                 <div class="features-triangle"></div>
                              </div>
                           </div>
                           <div class="span3">
                              <div class="features drop-shadow features-active">
                                 <div class="features-circle"><a href="https://download.mql5.com/cdn/web/maxwell.global.trading/mt4/mgtc4setup.exe" target="_blank"><img src="/static/home/uploads/2015/09/icon_desktop32.png" alt="" /></a></div>
                                 <h4><span style="color: #000000;"><strong><a style="color: #000000;" href="https://download.mql5.com/cdn/web/maxwell.global.trading/mt4/mgtc4setup.exe" target="_blank">Desktop Trading</a></strong></span></h4>
                                 <p>Software MetaTrader 4, which is better known as MT4, is an electronic trading platform that has been widely used by online futures traders.</p>
                                 <p>&nbsp;</p>
                                 <div class="features-read-more"><a class="btn btn-small btn-prime" href="https://download.mql5.com/cdn/web/maxwell.global.trading/mt4/mgtc4setup.exe" target="_blank">DOWNLOAD</a></div>
                                 <div class="features-triangle"></div>
                              </div>
                           </div>
                           <div class="span3">
                              <div class="features drop-shadow">
                                 <div class="features-circle"><img src="/static/home/uploads/2015/09/icon_mobile32.png" alt="" /></div>
                                 <h4><strong>Mobile Trading</strong></h4>
                                 <p>MetaTrader 4 is available for Ipad, Iphone &amp; Ipod to see live streaming prices, charts and price movements to position and manage the accounts of customers</p>
                                 <p>&nbsp;</p>
                                 <div class="features-read-more"><a class="btn btn-small btn-prime">DOWNLOAD</a></div>
                                 <div class="features-triangle"></div>
                              </div>
                           </div>
                           <div class="span3">
                              <div class="features drop-shadow">
                                 <div class="features-circle"><a href="http://maxwellglobaltrading.com/?page_id=484" target="_blank"><img src="/static/home/uploads/2015/09/icon_system32.png" alt="" /></a></div>
                                 <h4><strong>HIGHLY FLEXIBLE</strong></h4>
                                 <p>We believe that customer satisfaction / our investors is a priority, above all, because we are committed and dedicated themselves to service to our customers</p>
                                 <p>&nbsp;</p>
                                 <div class="features-read-more"><a class="btn btn-small btn-prime" href="http://maxwellglobaltrading.com/?page_id=484" target="_blank">READ MORE</a></div>
                                 <div class="features-triangle"></div>
                              </div>
                           </div>
                        </div>
                        <p>
                           <!-- RECENT NEWS        ================================================== -->
                        </p>
                        <div class="row">
                           <div class="span12 textcenter"></div>
                           <div class="span3">
                              <div class="content-image">
                                 <p><img src="/static/home/uploads/2015/07/dollar4.jpg" alt="" /></p>
                              </div>
                              <div class="content-bubble drop-shadow curved">
                                 <h5 class="heading">SERVICE QUALITY</h5>
                                 <p>Provide the best quality service in order to maintain the satisfaction and comfort of its customers<br />
                                    <strong>Competitive Spreads</strong><br />
                                    Trade with confidence knowing your MGTC forex and Index, CFD trading account gets competitive spreads with no commissions on your trades, no minimum deposit and no account maintenance fees.
                                 </p>
                              </div>
                              <div class="content-bubble-triangle"></div>
                           </div>
                           <div class="span4">
                              <div class="content-image">
                                 <p><img src="/static/home/uploads/2015/07/forex1.jpg" alt="" /></p>
                              </div>
                              <div class="content-bubble drop-shadow curved">
                                 <h5 class="heading">COMMUNICATION</h5>
                                 <p>Provides a variety of communication channels for the convenience of customers.<br />
                                    <strong>Open and Transparent</strong><br />
                                    Knowledge is power. That&#8217;s why we provide you with open information to better understand and learn from market movements to help you refine your forex, index and CFD trading strategies.
                                 </p>
                              </div>
                              <div class="content-bubble-triangle"></div>
                           </div>
                           <div class="span4">
                              <div class="content-image">
                                 <p><img class=" alignnone" src="/static/home/uploads/2015/07/marketing2.jpg" alt="" /></p>
                              </div>
                              <div class="content-bubble drop-shadow curved">
                                 <h5 class="heading">INNOVATION</h5>
                                 <p>Develop leading-edge technology solutions to provide convenience for customers.<br />
                                    <strong>Exceptional Execution</strong><br />
                                    Low cost of forex,index and CFD trading is more than just spreads. It&#8217;s having your trades executed automatically without requotes or rejections, unless you choose to place upper or lower bounds to protect against price fluctuations.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="span9">
                              <div class="tab-content">
                                 <div id="aboutus" class="tab-pane active">
                                    <div class="row">
                                       <div class="span7 mobile-box">
                                          <h4><strong>Welcome to Maxwell Global Trading </strong></h4>
                                          <p><strong>Maxwell Global Trading </strong> is your strategic partner in the business, especially in the futures trading industry that is growing rapidly now among businesses. To answer that we provide facilities &#8220;online trading&#8221; as an alternative to your investment for derivatives trading and the need to hedge</p>
                                          <p><a class="btn btn-prime" href="http://maxwellglobaltrading.com/?page_id=653" target="_blank">GET STARTED</a></p>
                                       </div>
                                       <div class="span5">
                                          <div class="content-bubble drop-shadow curved">
                                             <h4><strong>We will show you</strong><br />
                                                <strong> the way to Success</strong>
                                             </h4>
                                             <p>Give us a chance and we will prove our efficiency. For the new investor can start with &#8216;educational&#8217; us, to learn more about products, strategies and measures transactions.In Online Trading Demo Account to try your knowledge without depositing the funds in advance.</p>
                                          </div>
                                          <div class="content-bubble-triangle"></div>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="profile" class="tab-pane"></div>
                                 <div id="messages" class="tab-pane"></div>
                                 <div id="settings" class="tab-pane"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>


         <div class="container home-bubble">
            <div class="row-fluid">
               <div class="span12">
                  <div class="footer-bubble">
                     <div class="bubble ">
                        <h4 class="left">Footer Bubble Text</h4>
                     </div>
                     <div class="bubble-triangle"></div>
                  </div>
               </div>
            </div>
         </div>


         <div class="sub-footer">
            <div class="container">
               <div class="row-fluid">
                  <div class="span3">
                  </div>
                  <div class="span3">
                  </div>
                  <div class="span3">
                  </div>
                  <div class="span3">
                  </div>
               </div>
            </div>
         </div>
{% endblock %}