{% extends "layout_home.html" %}
{% block title %}Login {% endblock %}
{% block main %}
<div class="slider">
   <div class="single-image-banner"></div>
</div>
<div class="container inner-bubble">
   <div class="row-fluid">
      <div class="span12 relative">
         <div class="bubble head-bubble " style="z-index:90 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ">
            <h4 class="left">Default Header Bubble Text</h4>
         </div>
         <div class="bubble-triangle"></div>
      </div>
   </div>
</div>
<div class="bubble-stripes"></div>
<div class="container">
   <div class="row-fluid">
      <div class="span12">
         <div class="breadcrumb-container">
            <ul class="breadcrumb">
               <li><a href="index.html">Home</a></li>
               <span class="divider"> / </span>
               <li class="active">Login</li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="clearfix"></div>
<div class="container " style="margin-top: 50px;">
   <div class="row-fluid">
      <div class="span12">
      </div>
   </div>
</div>
<div class="container ">
      <div class="row-fluid">
                  <div class="span12">
            <div align="center" id="wpmem_msg"><h2>Login Failed!</h2><p>You entered an invalid username or password or capcha google.</p><p><a href="/auth/login">Click here to continue.</a></p></div>
<p>&nbsp;</p>
         </div>
                  
            </div>
       </div>
<div class="sub-footer">
   <div class="container">
      <div class="row-fluid">
         <div class="span3">
         </div>
         <div class="span3">
         </div>
         <div class="span3">
         </div>
         <div class="span3">
         </div>
      </div>
   </div>
</div>
{% endblock %}