{% extends "layout_home.html" %}
{% block title %}Home {% endblock %}

{% block main %}
   <div class="slider">
  <div class="single-image-banner"></div>    </div>
  <div class="container inner-bubble">
      <div class="row-fluid">
        <div class="span12 relative">

        <div class="bubble head-bubble " style="z-index:90 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ">
          <h4 class="left">Default Header Bubble Text</h4>
                </div>
          <div class="bubble-triangle"></div>
        </div>
      </div>
    </div>
        <div class="bubble-stripes"></div>
        <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="breadcrumb-container">
            <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li><span class="divider"> / </span><li class="active">Platform</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
    
      <!-- FEATURES
      ================================================== -->
      <div class="container ">
    <div class="row-fluid">
            <div class="span12">
        <p style="text-align: justify;"><a href="https://download.mql5.com/cdn/web/maxwell.global.trading/mt4/mgtc4setup.exe" target="_blank"><img class="alignleft size-full wp-image-723" src="/static/home/uploads/2015/10/mt4-desktop1.png" alt="mt4-desktop1" width="401" height="320" /></a>Software MetaTrader 4, which is better known as MT4, is an electronic trading platform that has been widely used by online futures traders. This platform developed by MetaQuotes Software and released in 2005. This software has been equipped with an official license for futures brokers that provide online services to their clients. This software, used to view the live streaming prices, charts and price movements to position (transactions) as well as manage the customer account.</p>
<div class="features-read-more" style="text-align: left;"><a class="btn btn-small btn-prime" href="https://download.mql5.com/cdn/web/maxwell.global.trading/mt4/mgtc4setup.exe" target="_blank">DOWNLOAD</a></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
<div class="features-read-more" style="text-align: left;"></div>
      </div>
            
          </div>
      </div>          
  </div>

  <div class="container inner-bubble">
    <div class="row-fluid">
      <div class="span12">
      
        <div class="footer-bubble">
          <div class="bubble ">
          
              <h4 class="left">Footer Bubble Text</h4>
                      
          </div>
          <div class="bubble-triangle"></div>
        </div>
      </div>
    </div>
  </div>
    
  <!-- BEGIN SUB-FOOTER
  ================================================== -->
    <div class="sub-footer">
      <div class="container">
        <div class="row-fluid">
                <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
              
        </div>
      </div>  
    </div>
{% endblock %}