{% extends "layout_home.html" %}
{% block title %}Home {% endblock %}

{% block main %}
   <div class="slider">
   <div class="single-image-banner"></div>    </div>
    <div class="container inner-bubble">
      <div class="row-fluid">
         <div class="span12 relative">

            <div class="bubble head-bubble " style="z-index:90 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ">
               <h4 class="left">Default Header Bubble Text</h4>
                        </div>
            <div class="bubble-triangle"></div>
         </div>
      </div>
    </div>
        <div class="bubble-stripes"></div>
        <div class="container">
         <div class="row-fluid">
            <div class="span12">
               <div class="breadcrumb-container">
                  <ul class="breadcrumb">
               <li><a href="index.html">Home</a></li><span class="divider"> / </span><li class="active">Product</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="content">
    
       <!-- FEATURES
       ================================================== -->
       <div class="container ">
      <div class="row-fluid">
                  <div class="span12">
            <div class="sub-content">
<h5 class="h-sub-content"><strong>Foreign Exchange</strong></h5>
</div>
<p style="text-align: justify;"><em><strong>Foreign Exchange  </strong></em><strong>: </strong>Foreign Exchange Market is a kind of global markets trading business with activities which include transactions of a country&#8217;s currency exchanged for another country&#8217;s currency (currency pair / pair). Forex market is the volume of trade turnover includes the world&#8217;s money markets in the world&#8217;s main currency exchanges such as Tokyo, Hong Kong, London and New York that lasted for 24 hours continuously. This will establish a competitive market is perfect (Perfect Competition Market).</p>
<p style="text-align: justify;">Currency exchange rate differences from country to another country&#8217;s currency opens opportunities for investment margin trading, with the support of information and accurate analysis so that everyone can follow the development of foreign currency exchange rates and can take advantage of price fluctuations for profit. Given the level of liquidity and accelerating the movement of high prices, foreign exchange has also become the most popular alternative because the ROI (Return On Investment or investment rate) and the profit to be gained could exceed the average trade in general. Due to the rapid movement, then the foreign exchange market are also at high risk.</p>
<div class="sub-content">
<h6 class="h-sub-content"><strong>Stock Index (Stock Market)</strong></h6>
</div>
<p style="text-align: justify;"><strong><em>Stock Index Futures </em> :<em> </em></strong>Stock Market Index is the average price of seed stocks and a statistic which illustrates the composite price of components. It is used as a tool to represent the characteristics of stock components, which all have in common such as trading in the stock market the same (common stock), is part of the same industry, or has a similar market capitalization. Stock Index measures the average movement of prices of shares listed on the Stock Exchange Regional.</p>
<p style="text-align: justify;"><em><strong>Stock Index Futures  </strong></em><strong>:</strong><em><strong> </strong></em>is a combination of several major stocks that are actively traded in the stock market trading. Typically represent the majority of market capitalization and overall market activity. Many indices are based on the news or financial services used to measure the performance of the portfolio as mutual funds.</p>
<p style="text-align: justify;"><em><strong>Stock Index Futures </strong></em><strong>:</strong><em><strong> </strong></em>a purchase agreement contract at a certain price index, the amount and time specified by the exchanges and institutions to ensure the purchase contract agreement is fair and good.</p>
<p>&nbsp;</p>
<p style="text-align: justify;">
         </div>
                  
            </div>
       </div>           
   </div>
   <div class="container inner-bubble">
      <div class="row-fluid">
         <div class="span12">
         
            <div class="footer-bubble">
               <div class="bubble ">
               
                  <h4 class="left">Footer Bubble Text</h4>
                                 
               </div>
               <div class="bubble-triangle"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="sub-footer">
      <div class="container">
         <div class="row-fluid">
                        <div class="span3">
                                 </div>
                              <div class="span3">
                                 </div>
                              <div class="span3">
                                 </div>
                              <div class="span3">
                                 </div>
                     
         </div>
      </div>   
    </div>
{% endblock %}