{% extends "layout_home.html" %}
{% block title %}Srilanka {% endblock %}
{% block main %}
<style>
      .iportfolio .portfolio-image, .iportfolio .portfolio-image a, .iportfolio .portfolio-image img 
      {
         display: block;
         width: 100%;
         height: 350px;
         margin-bottom:50px;
      }
   </style>

<section id="slider" style="margin-top: 0px; padding: 0px;"><img class="aligncenter wp-image-204 size-full" src="/static/home/images/374820627626351121banner-5.jpg" alt="" width="" height=""></section>
<section id="content" style="overflow: visible; margin-bottom: 0px;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3></h3>
      </div>
      <h3 class="container clearfix" style="text-align: center;"><span style="color: #000080;"><span id="logo-lt">LAKSTEEL&nbsp;</span><span id="logo-rt">ENGINEERING (PVT) LTD</span></span></h3>
      <div class="row"><img class="img-responsive" src="/static/home/images/slide-show-6.jpg" alt=""></div>
      <p style="text-align: center;"><em>The company founded in 2010&nbsp; as Lak Steel Engineering (Pvt) Ltd.</em></p>
      <p style="text-align: center;"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The company offers products range in Zinc-Alu alloy coated steel (Galvalume /Zinc Aluminum) is manufactured/ profiled by the company and marketed under the brand name “Lakdek”</em></p>
      Lakdek Products are Roofing sheets, Corrugated Roofing profile, Tile Roofing profile, Crime Curve Roofing Profile, Wall cladding and Ceiling profile, Sandwich panels, Roofing related accessories (Ridge caps, Flashing), Rain water Goods (Gutters, Down pipes, Valley Gutters), other products (Louvers, panel boxes, channels), Purlin, Pipes, Tubes in Galvanized and Black iron Steel, I &amp; I Section iron, K – Span curve building system, Lightweight building framing system, Pre- fabricated, Pre- Engineered Steel building structural Framework Designs and installation.
   </div>
   &nbsp;
</section>
<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">Lak Sahal - Sri Lankan </span></h3>
         <h4 class="tb style572a4ce65578f01022517cae"><span style="color: #808080;">Rice Manufacturer &amp; Latest Rice Mill in Sri Lanka</span></h4>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;" src="/static/home/images/slide-show-5-1-2.jpg" alt=""></div>
      Lak Sahal Rice mill situated in Matale. Lak Sahal is a famous &amp; trusted rice manufacturer in Sri Lanka. Realizing the health benefits and commercial values associated with rice Lak Sahal was founded by Hingurana Group of Companies . Our products include Samba, Nadu, Keeri Samba, Kekulu etc. &nbsp;Each grain of our rice is replete with quality flavor and taste. &nbsp;We are popular among the well reputed producers and suppliers of quality rice in Sri Lanka.
      &nbsp;
   </div>
</section>
<section id="content" style="overflow: visible; margin-bottom: 50px">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3><span style="color: #000080;">LAK BRAND FURNITURE</span></h3>
         <h4 class="tb style572a654346b13ca1ae88c426"><span style="color: #808080;">Super Quality &amp; Durable Furniture Manufacturer in Sri Lanka</span></h4>
      </div>
      <div class="row"><img class="img-responsive" src="/static/home/images/slide-show-furniture-1.jpg" alt=""></div>
      Lak Brand Furniture Pvt. Ltd is under Group of Companies. It is one of the largest furniture factories in Sri Lanka, which has an area of 20,000 Square meters, specializing in star hotel furniture. The factory scale is expanding all the time. There are advanced machines with German technology and the first 1,000 Square meters dust-free painting room in Sri Lanka. More ever, we have a group of international professional designers and experienced workers, which is key for us to grow stronger. Our company definitely plays the leader role in furniture industry of Sri Lanka as far as Southeast Asia. We already have laid strong foundation for the future growth domestically as far as internationally.
   </div>
</section>
<!-- <section id="content" style="overflow: visible; margin-top: 20px; margin-bottom: 50px" style="">
   <div class="container clearfix" style="">
      <div class="owl-carousel owl-theme">
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-273" src="/static/home/images/engineering-1.jpg" alt="" width="241" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-270" src="/static/home/images/agriculture-1.jpg" alt="" width="241" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-272" src="/static/home/images/distilaries-1.jpg" alt="" width="243" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-274" src="/static/home/images/furniture-1.jpg" alt="" width="243" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-277" src="/static/home/images/lak-fm-1.jpg" alt="" width="240" height="328">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>

         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-49" src="/static/home/images/gypsum.jpg" alt="" width="242" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-large wp-image-43" src="/static/home/images/19679017_1916053371997112_4473746899949768917_o-1024x827.jpg" alt="" width="1024" height="827">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-42" src="/static/home/images/engineering.jpg" alt="" width="241" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-46" src="/static/home/images/distilaries.jpg" alt="" width="243" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-large wp-image-354" src="/static/home/images/33686764_2103937983220511_3007404296149925888_o-2-784x1024.jpg" alt="" width="784" height="1024">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-351" src="/static/home/images/distllerires-banner-copy.jpg" alt="" width="521" height="561">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-42" src="/static/home/images/engineering.jpg" alt="" width="241" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         
      </div>
      
   </div>
</section> -->
{% endblock %}