{% extends "layout_home.html" %}
{% block title %}Home {% endblock %}

{% block main %}
   <div class="slider">
   <div class="single-image-banner"></div>    </div>
   <div class="container inner-bubble">
      <div class="row-fluid">
        <div class="span12 relative">

        <div class="bubble head-bubble " style="z-index:90 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; ">
          <h4 class="left">Default Header Bubble Text</h4>
                </div>
          <div class="bubble-triangle"></div>
        </div>
      </div>
    </div>
        <div class="bubble-stripes"></div>


    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="breadcrumb-container">
            <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li><span class="divider"> / </span><li class="active">Stock Index</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
        <div class="container " style="margin-top: 50px;">
    <div class="row-fluid">
            <div class="span12">
        <p><strong>Stock Index Futures</strong></p>
<p style="text-align: justify;">A purchase agreement contract at a certain price index, the amount and time specified by the exchanges and institutions to ensure the purchase contract agreement is fair and good.</p>
<p>There are three main options for trading Stock Index Futures:</p>
<ul style="text-align: justify;">
<li class="arrow">Nikkei Stock Index Futures</li>
<li class="arrow">Hangseng Stock Index Futures</li>
<li class="arrow">Kospi Stock Index Futures</li>
</ul>
<h5 style="text-align: justify;">
Transactions advantages:</h5>
<ul style="text-align: justify;">
<li class="check">Profit opportunities in both directions, the transaction can be done in advance to buy or sell.</li>
<li class="check">Trading system can be done anytime and anywhere as long as 24 hours, in accordance with the wishes of the customer.</li>
<li class="check">As an instrument of protection from currency fluctuations not stabilized for exporters and importers.</li>
<li class="check">Are not taxed on profits.</li>
<li class="check">Initial capital or margin required to trade relatively small compared to the actual transaction value.</li>
<li class="check">Security is assured because the funds deposited into the bank account designated by Segregate Account Exchange Authority.</li>
<li class="check">Risks can be minimized by risk management.</li>
</ul>
<h5 style="text-align: justify;">
Our advantages:</h5>
<ul style="text-align: justify;">
<li class="check">Latitude Transactions<br>
Our staff is ready to serve transactions 24 hours a day, 5 days a week.</li>
<li class="check">Trading facilities<br>
Transactions can be done through Online Trading or via telephone.</li>
<li class="check">Research<br>
Supported by the research division are experts in market analysis and price movements, as well as advanced information technology tools such as Reuters 3000 Xtra, Bloomberg, CNN, CNBC. Our research team will conduct fundamental and technical analysis then summarizes issues – important issues and recommend it to you in the daily bulletin.</li>
<li class="check">Risk Management<br>
Trading Consultant we will help you take steps – appropriate measures to limit losses and protect profits.</li>
<li class="check">Liquidity Fund<br>
You can attract investment funds whenever you want on each bank working day without limitation, maturity.</li>
<li class="check">Report<br>
We always provide progress reports per transaction per customer funds when needed.</li>
<li class="check">Secret<br>
Investment and your personal data is guaranteed confidentiality and security.</li>
</ul>
<p style="text-align: justify;">
      </p></div>
            
          </div>
      </div> 
      <div class="container inner-bubble">
    <div class="row-fluid">
      <div class="span12">
      
        <div class="footer-bubble">
          <div class="bubble ">
          
              <h4 class="left">Footer Bubble Text</h4>
                      
          </div>
          <div class="bubble-triangle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
      <div class="container">
        <div class="row-fluid">
                <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
                    <div class="span3">
                      </div>
              
        </div>
      </div>  
    </div>
{% endblock %}