{% extends "layout_admin.html" %}
{% block title %}Setup Profit{% endblock %}

{% block js %}

{% endblock %}
  

{% block main %}

<div class="row content_setup_profit">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <h4 class="title">Setup Profit</h4>
                <div class="toolbar">
                    <div class="row">
                        <form action="/admin/profit-setup" method="POST">
                        <table id="datatables_referrals" class="table table-bordered" style="width:100%;cellspacing:0">
                              <thead>
                                  <th class="text-center">Icon</th>
                                  <th class="text-center">Name</th>
                                  <th class="text-center">USD</th>
                                  <th class="text-center">Percentage per day</th>
                              </thead>
                              <tbody>
                                <!-- <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-1.png" alt="User Avatar"></td>
                                    <td class="text-center">STARTED</td>
                                    <td class="text-center">$100</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['100']}}" name="package-1"></td>
                                </tr> -->
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-2.png" alt="User Avatar"></td>
                                    <td class="text-center">EXCUTIVE</td>
                                    <td class="text-center">$500</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['500']}}" name="package-2"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-3.png" alt="User Avatar"></td>
                                    <td class="text-center">SILVER</td>
                                    <td class="text-center">$1,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['1000']}}" name="package-3"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-4.png" alt="User Avatar"></td>
                                    <td class="text-center">GOLD</td>
                                    <td class="text-center">$3,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['3000']}}" name="package-4"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-5.png" alt="User Avatar"></td>
                                    <td class="text-center">SAPPHIRE</td>
                                    <td class="text-center">$5,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['5000']}}" name="package-5"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-6.png" alt="User Avatar"></td>
                                    <td class="text-center">RUBY</td>
                                    <td class="text-center">$10,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['10000']}}" name="package-6"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-7.png" alt="User Avatar"></td>
                                    <td class="text-center">PLATINUM</td>
                                    <td class="text-center">$30,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['30000']}}" name="package-7"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-8.png" alt="User Avatar"></td>
                                    <td class="text-center">DIAMOND</td>
                                    <td class="text-center">$50,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['50000']}}" name="package-8"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-9.png" alt="User Avatar"></td>
                                    <td class="text-center">BLUE DIAMOND</td>
                                    <td class="text-center">$100,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['100000']}}" name="package-9"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-10.png" alt="User Avatar"></td>
                                    <td class="text-center">BLACK DIAMOND</td>
                                    <td class="text-center">$500,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['500000']}}" name="package-10"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"><img width="30" class="img-circle" src="/static/img/package/package-11.png" alt="User Avatar"></td>
                                    <td class="text-center">CROWN DIAMOND</td>
                                    <td class="text-center">$1,000,000</td>
                                    <td class="text-center"><input class="text-center form-control" type="text" value="{{data.profit['1000000']}}" name="package-11"></td>
                                </tr>
                              </tbody>
                        </table>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success" type="submit">Update</button>
                        </div>
                        </form>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

